# Include library: {{ result.filename }}

Inclusion code: <pre>include "{{result.filename}}"</pre>

<table>
  <caption>Service Deployment</caption>
  <thead>
    <tr>
      <th>Port Name</th>
      <th>Location</th>
      <th>Protocol</th>
      <th>Interfaces</th>
    </tr>
  </thead>
  <tbody>{% for port in result.port %}{% if port.documentation %}<tr><td>{{ port.name }} documentation: {{ port.documentation }}</td></tr>{% endif %}
    <tr>
      <td>{{ port.name }}</td>
      <td>{% if port.location %}{{ port.location }}{% else %}-{% endif %}</td>
      <td>{% if port.protocol %}{{ port.protocol }}{% else %}-{% endif %}</td>
      <td>{% for interface in port.interface %}<a href="#{{ interface.name }}">{{ interface.name }}</a>{% endfor %}</td>
    </tr>{% endfor %}
  </tbody>
</table>

<h3>List of Available Interfaces</h3>
{% for port in result.port %}{% for interface in port.interface %}
<h3 id="{{ interface.name }}">{{ interface.name }}</h3>
{% if interface.documentation %}
Interface documentation: {{ interface.documentation }}
{% endif %}
<table>
  <thead>
    <tr>
      <th>Operation Name</th>
      <th>Input Type</th>
      <th>Output Type</th>
      <th>Faults</th>
    </tr>
  </thead>
  <tbody>{% for operation in interface.operation %}
    <tr>
      <td><a href="#{{ operation.name }}">{{ operation.name }}</a></td>
      <td>{% unless operation.requestType.isNative or operation.requestType.name == "undefined" %}<a href="#{{ operation.requestType.name }}">{% endunless %}{{ operation.requestType.name }}{% unless operation.requestType.isNative %}</a>{% endunless %}</td>
      <td>{% if operation.responseType %}{% assign isResponseLinkType = operation.responseType.isNative or operation.responseType.name == "undefined" %}{% unless isResponseLinkType %}<a href="#{{ operation.responseType.name }}">{% endunless %}{{ operation.responseType.name }}{% unless isResponseLinkType %}</a>{% endunless %}{% else %} - {% endif %}</td>
      <td>{% if operation.fault.length == 0 %} - {% else %}{% for fault in operation.fault %}
        {{ fault.name }}( {% assign isFaultLinkType = fault.faultType.isNative or fault.faultType.name == "undefined" %}{% unless isFaultLinkType %}<a href="#{{ fault.faultType.name }}">{% endunless %}{{ fault.faultType.name }}{% unless isFaultLinkType %}</a>{% endunless %} ){% if forloop.rindex0 > 0 %} <br> {% endif %}{% endfor %}{% endif %}
      </td>
    </tr>{% endfor %}
  </tbody>
</table>

<h2>Operation Description</h2>

{% for operation in interface.operation %}

<h3 id="{{ operation.name }}">{{ operation.name }}</h3>
{% if operation.documentation %}
Operation documentation: {{ operation.documentation }}
{% endif %}

Invocation template: 
<pre>{{operation.name}}{% if port.isOutput %}@{{ port.name }}{% endif %}( request ){% if operation.responseType %}( response ){% endif %}</pre>

<h4{% unless operation.requestType.isNative or operation.requestType.name == "undefined" %} id="{{ operation.requestType.name }}"{% endunless %}>Request type</h4>

Type: {{ operation.requestType.name }}

Type documentation:{% if operation.requestType.documentation %}{{ operation.requestType.documentation }}{% else %} no documentation provided {% endif %}
{% unless operation.requestType.isNative or operation.requestType.name == "undefined" %}<pre>{{ operation.requestType.code }}</pre>{% endunless %}

{% if operation.responseType %}
<h4{% unless operation.responseType.isNative or operation.responseType.name == "undefined" %} id="{{ operation.responseType.name }}"{% endunless %}>Response type</h4>

Type: {{ operation.responseType.name }}

Type documentation:{% if operation.responseType.documentation %}{{ operation.responseType.documentation }}{% else %} no documentation provided {% endif %}
{% unless operation.responseType.isNative or operation.responseType.name == "undefined"%}<pre>{{ operation.responseType.code }}</pre>{% endunless %}

{% endif %}

{% if operation.fault %}<h4>Possible faults thrown</h4>{% endif %}
{% for fault in operation.fault %}


Fault <code>{{ fault.name }}</code> with type <code>{{ fault.faultType.name }}</code>
{% if fault.documentation %}Fault documentation: {{ fault.documentation }}{% endif %}
Fault-handling install template: 
<pre>install ( {{ fault.name }} => /* error-handling code */ )</pre>
{% unless fault.faultType.isNative or fault.faultType.name == "undefined" %}<pre>{{ fault.faultType.code }}</pre>{% endunless %}
{% endfor %}
{% endfor %}

{% if port.subtype %}<h3>Subtypes</h3>

{% for type in port.subtype %}
<h4 id="{{ type.name }}">{{ type.name }}</h4>
{% if type.documentation %}
{{ type.documentation }}
{% endif %}
<pre>{{ type.code }}</pre>
{% endfor %}
{% endif %}
{% endfor %}
{% endfor %}